body, html {
  height: 100%;
  background: black;
  color: white;
  font-family: 'Merienda', cursive;
}

@import url(https://fonts.googleapis.com/css?family=Merienda);

.canvas-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.instructions {
  position: absolute;
  font-size: 20px;
  width: 300px;
  margin-left: -450px;
  margin-top: 200px;
}

.clauds-exit {
  position: absolute;
  width: 10px;
  height: 100px;
  background: black;
  margin-left: 305px;
  margin-top: 203px;
}

#game-canvas {
  border-radius: 16px;
  border: 5px solid white;
}

.buttons-etc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 0;
  margin-top: 20px;
}

.buttons-etc button {
  border: 2px solid #bcbcbc;
  color: #bcbcbc;
  font-size: 50px;
  background: none;
  border-radius: 8px;
}

.buttons-etc button:hover {
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}

.buttons-etc h3 {
  font-family: 'Merienda', cursive;
  font-size: 40px;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Merienda', cursive;
  font-size: 40px;
  margin: 10px;
  margin-top: 20px;
}

h3 {
  font-family: 'Merienda', cursive;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

img {
  display: none;
}

.socials {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.socials img {
  display: block;
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

.socials button {
  width: 40px;
  height: 40px;
  border: 2px solid #bcbcbc;
  color: #bcbcbc;
  font-size: 20px;
  background: none;
  border-radius: 8px;
}

.socials button:hover {
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}

.level-select-wrapper {
  position: fixed;
  top: calc(50% - 100px);
  margin-left: 420px;
}

.level-select-wrapper {
  text-align: center;
}

.level-select {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
}

.level-select button {
  font-family: inherit;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  background: none;
  border: 2px solid #bcbcbc;
  color: #bcbcbc;
  font-size: 18px;
}

.level-select button:hover {
  border: 2px solid white;
  /* background: rgba(0,255,255,0.5); */
  color: white;
  transition: 0.5s;
}

button.current-level {
  border: 2px solid white;
  background: white;
  color: black;
}

button.current-level:hover {
  color: black;
}
